{% extends 'base.html' %}
<link rel = "stylesheet" href="">
{% block title %}Welcome to GeoSafe!{% endblock %}
{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Scenic Spots in Hong Kong</h1>

          <p class="lead text-muted">If you want to check our Real-Time information, please enter the spot by clicking the "view" button below the image.</p>
        </div>
      </section>
<!--    <div class="container">-->
<!--    <h1>Scenic Spots in Hong Kong</h1>-->
<!--      <br/>-->
<!--      <p>-->
<!--        If you want to check our Real-Time information, please enter the spot by clicking the "view" button below the image.-->
<!--      </p>-->
<!--    </div>-->

     <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../static/images/lotusMountain.jpg" alt="Card image cap" height="230" width="230" >
                <div class="card-body">
                  <p class="card-text">Some Place</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../static/images/hk-ocean-park.jpg" alt="Card image cap" >
                <div class="card-body">
                  <p class="card-text">Hong Kong Ocean Park</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/hk-ocean-park" class = "btn btn-primary btn-sm">Enter and View</a>

                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../static/images/hk-disney.jpg" alt="Card image cap" height="228" width="228">
                <div class="card-body">
                  <p class="card-text">Hong Kong Disneyland</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/users" class = "btn btn-primary btn-sm">Enter and View</a>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>

<!--            <div class="col-md-4">-->
<!--              <div class="card mb-4 box-shadow">-->
<!--                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
<!--                <div class="card-body">-->
<!--                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                  <div class="d-flex justify-content-between align-items-center">-->
<!--                    <div class="btn-group">-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                    </div>-->
<!--                    <small class="text-muted">9 mins</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->



            </div>
{% endblock %}