{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
    <h1>Update Users...</h1>
        <br/>
        <form action="/update/{{user_to_update.id}}" method="POST">
            <input type="text" placeholder="Name" name="name" value="{{user_to_update.name}}">
            <input type="submit" value="Add Name" class="btn btn-secondary">
        </form>
        <br/><br/>
        {% for user in users %}
            <h4>
                {{ user.name }}
            </h4>
        {% endfor %}
    </div>
{% endblock %}