{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
    <h1>Our Users...</h1>
        <br/>
        <form action="/users" METHOD ="POST">
            <input type="text" placeholder="Name" name="name">
            <input type="submit" value="Add Name" class="btn btn-secondary">
        </form>
        <br/><br/>
        {% for user in users %}
            <h4>
                {{ user.name }} <a href="/update/{{user.id}}" class = "btn btn-outline-secondary btn-sm">Update</a>
            </h4>
        {% endfor %}
    </div>
{% endblock %}